.formContainer {
  display: flex;
  width: 100vw;
  margin-bottom: 20px;
  padding: 5px;
  gap: 20px;
  background-color: rgb(68, 68, 67);
  color: aliceblue;
}

.formDate,
.formDistance {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  gap: 20px;
  margin-right: 50px;
}

input {
  height: 30px;
  border-radius: 10px;
  background-color: rgb(105, 105, 101);
  border: 0px solid transparent;
  box-shadow: 1px 1px 3px yellow, -1px -1px 3px yellow;
  color: aliceblue;
}

.buttonContainer {
  align-self: end;
}

.formButton {
  align-self: flex-end;
  width: 50px;
  height: 30px;
  background-color: rgb(105, 105, 101);
  border: 0px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 3px yellow, -1px -1px 3px yellow;
  color: aliceblue;
  cursor: pointer;
}
